<!DOCTYPE html>
<html>
<body>

<h1>Timesheet automator 🤖⚡️</h1>
<p>Fill out ur Panda Programmer Timesheets in <em>less than a sec!</em></p>
<p>This bot automatically generates your timesheet for the current month in Google Sheets</p>

<a href="/login">
<button>Continue with Google</button>
</a>

<p><em>Note:</em> To use this program, you <strong>MUST</strong> be a current employee of Panda Programmer and have received a Google Calendar event invite for your scheduled workdays.</p>
<span>built with 💗 by </span>
<span style="cursor:pointer">
    <a href="https://leuldev.com">Leul Mesfin</a>
</span>


</body>
</html>